@import url('http://fonts.googleapis.com/css?family=Lato');
/* breaking-news module CSS */

/* Override */
.breakingNews {
	color: black;
	font-family: Lato;
    border: 0;
    overflow: hidden;
    width: 100%;
}

.breakingNews .new-message {
	margin: 10px 0;
}

.breakingNews .messages-list ul {
	padding: 0;
}
.breakingNews .messages-list li {
	float : left;
}

.breakingNews .message {
	list-style: none;
	height: 30px;
}

.breakingNews input[type="button"].remove-message {
	border-radius: 5px;
	float: left;
	margin-left: 10px;
}

.module-admin.iframe .message-list {
    clear: both;
}
