
<!-- refresh time -->
<label class="persist" for="refresh">Refresh time</label>
<!-- Slider -->

<!-- animation on show -->
<label for="animationShow">Animation on show</label>
<input class="persist" type="text" name="animationShow" value="animationShow" placeholder="Animation name..." /><br/>

<!-- animation on hide -->
<label for="animationHide">Animation on hide</label>
<input class="persist" type="text" name="animationHide" value="animationHide" placeholder="Animation name..." /><br/>
<span class="help">Check http://daneden.github.io/animate.css for animation names</span>

<!-- new message -->
<input type="text" class="text-message">
<input class="new-message" title="Send message" type="button" value="Send"><br/>
<div class="messages-list"></div>
