<ul>
{{#each messages}}
	<div class="message">
		<li data-index="{{@index}}">{{this}}</li>
		<button type="button" class="remove-message" title="Delete message">
		    <i class="fa fa-trash-o"></i>
		</button>
	</div>
{{/each}}
</ul>