<ul>
{{#each messages}}
	<div class="message">
		<li data-index="{{@index}}">{{this}}</li>
		<button type="button" class="remove-message"><img height="20px" width="20px" src="/images/delete.png" alt="Delete message" title="Delete message"></button>
	</div>
{{/each}}
</ul>