<h2 class="module-title">Business errors</h2>
<div class="errors">
{{#each errors}}
    <div class="module-item">
        <div class="module-item-detail red"><a target="_blank">{{this.description}}</a></div>
    </div>
{{/each}}
</div>