<!-- refresh time -->
<label for="refresh">Refresh time</label>
<input class="persist" type="number" name="refresh" placeholder="Refresh time (in ms)..." value="{{config.refresh}}" /><br/>

<!-- url -->
<label for="url">URL</label>
<input class="persist" type="text" name="url" placeholder="URL..." value="{{config.url}}" /><br/>

<!-- username -->
<label for="username">Username</label>
<input class="persist" type="text" name="username" placeholder="username..." value="{{config.username}}" /><br/>

<!-- apiToken -->
<label for="token">API token</label>
<input class="persist" type="text" name="apiToken" placeholder="token..." value="{{config.apiToken}}" /><br/>