<!-- refresh time -->
<div class="row">
    <label for="refresh">Refresh time (s)</label>
    <input class="persist" type="number" name="refresh" placeholder="300" value="{{config.refresh}}" />
</div>

<!-- url -->
<div class="row">
    <label for="url">URL</label>
    <input class="persist" type="text" name="url" placeholder="URL..." value="{{config.url}}" />
</div>

<!-- username -->
<div class="row">
    <label for="username">Username</label>
    <input class="persist" type="text" name="username" placeholder="username..." value="{{config.username}}" />
</div>

<!-- apiToken -->
<div class="row">
    <label for="token">API token</label>
    <input class="persist" type="text" name="apiToken" placeholder="token..." value="{{config.apiToken}}" />
</div>

<!-- module mode -->
<div class="row">
    <label for="jenkins-mode">Mode</label>
    <div class="jenkins-mode">
        <select class="persist" name="mode" id="jenkins-mode">
            <option value="error"{{#ifequals config.mode "error"}} selected{{/ifequals}}>Jobs in error</option>
            <option value="queue"{{#ifequals config.mode "queue"}} selected{{/ifequals}}>Build queue</option>
        </select>
    </div>
</div>
