<!-- refresh time -->
<div class="row">
    <label for="refresh">Refresh time (s)</label>
    <input class="persist" type="number" name="refresh" placeholder="60" value="{{config.refresh}}" />
</div>

<!-- Server -->
<div class="row">
    <label for="server">Server</label>
    <input class="persist" type="text" name="server" placeholder="http://thermonitor.mydomain.com" value="{{config.server}}" />
</div>