<h2 class="module-title">Tweets</h2>
<div class="tweets">
{{#each tweets}}
    <div class="module-item {{#ifequalsinline @index 0 'animated fadeInLeft'}}{{/ifequalsinline}}">
    	<div class="module-item-image-wrapper">
    		<img class="module-item-image" src="{{this.user.profile_image_url_https}}">
    	</div>
        <div class="module-item-detail"><strong>{{this.user.name}}: </strong>{{this.text}}</div>
    </div>
{{/each}}
</div>