@import url('http://fonts.googleapis.com/css?family=Lato');

/* General */
html {
    height: 100%;
}

body {
    background: url(/images/cover.jpg) no-repeat center fixed;
    background-size: cover;
    font: 18px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Screen areas */
.center, .top, .bottom {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Center area */
.center {
    top: 0;
}

/* Top area */
.top {
    height: 5%;
    top: 0;
}

/* Bottom area */
.bottom {
    height: 5%;
    bottom: 0;
}