@import url('http://fonts.googleapis.com/css?family=Lato');

body {
    background: url(/images/bg.jpg) no-repeat center fixed;
    background-size: cover;
    font: 18px Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Modules frontend */
#modules {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.module {
    z-index: 5;
    background: #555454;
    border: 1px solid #404040;
    flex: 1 300px;
    height: 300px;
    margin: 12px;
    max-width: 400px;
    position: relative;
}

.module-title {
    color: white;
    background: linear-gradient(135deg, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 10%,rgba(17,17,17,1) 13%,rgba(17,17,17,1) 15%,rgba(17,17,17,1) 27%,rgba(45,45,45,1) 53%,rgba(45,45,45,1) 67%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%);    
    margin: 0;
    min-height: 35px;
    overflow: hidden;
    padding: 2px 10px 3px;
    text-overflow: ellipsis;
}

.module-item {
    background-color: #fff;
    border-bottom: 1px solid #bdbdbd;
    cursor: pointer;
    margin: 7px 0;
    min-height: 20px;
    position: relative;
    z-index: 0;
}

.module-item-detail {
    overflow: hidden;
    padding: 6px 8px 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
}

.module-update {
    color: grey;
    font-size: 9px;
    padding: 1px 2px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

.red {
    background-color: #ff3d46;
    color: white;
}

.fullscreen {
    border-radius: 0;
    box-shadow: 0 0 0 0;
    height: 100%;
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%;
}

/* Modules admin */
#admin {
    color: #c1c1c1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#admin > div {
    max-width: none;
}

.admin-modules {
    background: #555454;
    border: 1px solid #404040;
    flex: 1 200px;
}

.admin-dashboard {
    background: #555454;
    border: 1px solid #404040;
    display: flex;
    flex: 4 600px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.module-admin {
    background: linear-gradient(135deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    flex: 1 300px;
    height: 300px;
    max-width: 400px;
    outline: 2px solid #BFBFBF;
    padding: 4px 6px 3px;
    position: relative;
}

.module-admin input[type="button"] {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    color: #7d7d7d;
    border: 1px solid #dcdcdc;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

.module-admin input[type="text"] {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset, 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 3px;
    margin-right: 10px;
    color: #ffffff;
}

.module-instance {
    background: #cfcfcf;
    border: 1px solid #404040;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    color: black;
    flex: 1 250px;
    height: 150px;
    line-height: 40px;
    margin: 12px;
    max-width: 250px;
    padding-top: 15px;
    position: relative;
    text-align: center;
}

/** Modals **/
.modal {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    left: 50%;
    margin-left: -325px;
    min-height: 200px;
    overflow-x: hidden;
    position: absolute;
    top: 50px;
    width: 650px;
    z-index: 100;
}
.fade {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: .50;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}