<h2 class="module-title">{{board}} activity</h2>
<div class="activity">
{{#each activities}}
    <div class="module-item">
        <div class="module-item-detail">{{this}}</div>
    </div>
{{/each}}
</div>