<div class="module-title">
    <h2>{{#if title}}{{title}}{{/if}}</h2>
</div>
<span class="module-update">{{update}}</span>
<div class="module-items jenkins-jobs">
{{#each jobs}}
    <div class="module-item jenkins-job-red">
        <a href="{{this.url}}" target="_blank">{{this.name}}</a>
    </div>
{{/each}}
</div>