<h2 class="module-title">{{repo}} : last commits</h2>
<div class="commits">
{{#each commits}}
    <div class="module-item">
        <div class="module-item-detail">{{this.commit.committer.name}} : {{this.commit.message}}</div>
    </div>
{{/each}}
</div>