<ul>
{{#each pages}}
	<div class="message">
		<li>
		    {{this}}
		    <button type="image" data-index="{{@index}}" class="remove-page" title="Delete page">
		        <i class="fa fa-trash-o"></i>
		    </button>
		</li>
	</div>
{{/each}}
</ul>