<!-- refresh time -->
<label for="refresh">Refresh time</label>
<input class="persist" type="number" name="refresh" placeholder="Refresh time (in ms)..." value="{{config.refresh}}" /><br/>

<!-- fullscreen -->
<label for="fullscreen">Full screen</label>
<input type="checkbox" name="fullscreen" value="true" /><br/>

<!-- topics -->
<div class="input-wrapper">
    <label for="topic">Pages</label>
    <input type="text" name="page" placeholder="page..." value="" /><br/>
	<button type="button" class="new-page textual" title="Add page">add</button>
	<br/>
	<div class="page-list"></div>
</div>