<!-- refresh time -->
<label for="refresh">Refresh time</label>
<input class="persist" type="number" name="refresh" placeholder="Refresh time (in ms)..." value="{{config.refresh}}" /><br/>

<!-- fullscreen -->
<label for="fullscreen">Full screen</label>
<input type="checkbox" name="fullscreen" value="{{config.fullscreen}}" /><br/>

<!-- pages -->
<label for="page">Pages</label>
<input type="text" name="page" placeholder="url..." value="" /><br/>