<div id="{{id}}Admin" class="modal module-admin {{type}}">
    <h2 class="module-title">
        {{title}} Admin
        <input type="button" class="close-modal" title="Close" value="X"/>
    </h2>
    <div class="admin-box">
        <!-- Admin modal el -->
    </div>
</div>