<div id="{{id}}" class="modal module-admin {{type}}">
    <h2 class="module-title">
        {{title}}
        <input type="button" class="close-modal" title="Close" value="X"/>
    </h2>

    <form class="admin-box">
        <!-- Admin modal el -->
        <button type="submit">Save</button>
        <button type="button" class="close-modal">Cancel</button>
    </form>
</div>