<div class="modal module-admin">
    <h2 class="module-title">{{title}}</h2>

    <div class="module-admin-box">
        <button type="button" class="button-confirm textual">Confirm</button>
        <button type="button" class="button-cancel textual">Cancel</button>
    </form>
</div>