<div id="{{id}}" class="modal module-admin {{type}}">
    <h2 class="module-title">
        {{title}}
    </h2>

    <form class="module-admin-box">
        <!-- Admin modal el -->
        <button type="submit" class="textual">Save</button>
        <button type="button" class="close-modal textual">Cancel</button>
    </form>
</div>