<div class="modal module-admin">
    <h2 class="module-title">{{title}}</h2>
    <button type="button" class="button-confirm">Confirm</button>
    <button type="button" class="button-cancel">Cancel</button>
</div>