<h2 class="module-title">Breaking news module admin</h2>
<div class="new-message">
	<input type="text">
	<input class="new-message" title="Send message" type="button" value="Send">
</div>
<div class="messages-list">
</div>
