<h2 class="module-title">Breaking news module admin</h2>
<div class="new-message">
	<input type="text">
	<input type="button" value="Send">
</div>
<ul>
{{#each messages}}
	<li>{{this.text}}</li>
{{/each}}
</ul>
