@import url('http://fonts.googleapis.com/css?family=Lato');
/* breaking-news module CSS */

/* Override */
.module.breakingNews {
    z-index: 0;
    font-size: 40px;
    font-family: Lato;
	text-align: center;
	background: #000000;
	border-radius: 0px;
    border : none;
    box-shadow: none;
    flex: none;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.breakingNews span {
	color: #C1C1C1;
}
.breakingNews span.animated {
    display: block;
}