<ul>
{{#each topics}}
	<div class="message">
		<li>
		    {{this}}
		    <button type="image" data-index="{{@index}}" class="remove-topic">
		        <img height="20px" width="20px" src="/images/delete.png" alt="Delete topic" title="Delete topic">
		    </button>
		</li>
	</div>
{{/each}}
</ul>