<ul>
{{#each topics}}
	<li>
	    <div class="message">
		    {{this}}
		    <button type="image" data-index="{{@index}}" class="remove-topic" title="Delete topic">
		        <i class="fa fa-trash-o"></i>
		    </button>
	    </div>
	</li>
{{/each}}
</ul>