<ul>
{{#each topics}}
	<li>
	    <div class="message">
		    {{this}}
		    <button type="image" data-index="{{@index}}" class="remove-topic">
		        <img height="20px" width="20px" src="/images/delete.png" alt="Delete topic" title="Delete topic">
		    </button>
	    </div>
	</li>
{{/each}}
</ul>