/* Chat module CSS */
.chat {
    display: flex;
    flex-flow: column wrap;
}
.chat-window {
    display: flex;
    flex: 1;
}

.chat-messages {
    background: white;
    flex: 3;
    overflow-y: auto;
}

.chat-message {
    height: 35px;
    margin: 10px 0;
    padding: 0 5px;
    animation: fadeIn 1s;
}

.chat-message > span {
    clear: both;
    float: left;
}

.chat-message-author {
    color: grey;
    font-size: 12px;
}

.chat-message-content {
    margin-left: 10px;
}

.chat-user {
    flex: 1;
    text-align: center;
}

.chat-user form {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 98%;
}

.chat-user form > * {
    margin: 8px;
}

.chat-user form > label {
    color: #000000;
    font-size: 1.1em;
    font-weight: bold;
}

.chat-user form > input {
    min-width: 300px;
    text-align: center;
}

.chat-users {
    background: linear-gradient(135deg, rgba(38,38,38,1) 0%,rgba(38,38,38,1) 10%,rgba(38,38,38,1) 13%,rgba(38,38,38,1) 15%,rgba(38,38,38,1) 27%,rgba(45,45,45,1) 53%,rgba(45,45,45,1) 67%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%);
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-users .user {
    margin: 0 0 0 2px;
    padding: 4px;
    display: block;
    width : 100%;
    text-align: left;
    animation: fadeIn 1s;
}

.chat-users .user.highlight {
    background-color: #f7ffc8;
}

.chat-input {
    display: flex;
    margin-top: auto;
}

.chat-input .send {
    border: 0 solid;
    color: #e0e0e0;
    font-weight: normal;
    height: 96%;
    line-height: 32px;
    margin-top: 1px;
    width: 100%;
}

.chat-input textarea {
    border: solid 1px;
    flex: 8;
    height: 35px;
    padding: 4px;
    resize: none;
}

.chat-input .button-wrapper {
    flex: 1;
    height: 34px;
    text-align: center;
}