/* Chat module CSS */
.chat {
    background: #4fb3db;
    flex: 2 500px;
    max-width: 700px;
}

.chat-window {
    display: flex;
}

.chat-messages {
    background: white;
    flex: 3 200px;
    height: 240px;
    overflow-y: auto;
}

.chat-message {
    padding: 2px 4px;
}

.chat-message > span {
    clear: both;
    float: left;
}

.chat-message-author {
    color: grey;
    font-size: 12px;
}

.chat-message-content {
    margin-left: 10px;
}

.chat-users {
    background-color: #e2edff;
    flex: 1 100px;
    height: 240px;
    overflow-y: auto;
}