/* Chat module CSS */
.chat {
    flex: 2 500px;
    max-width: 700px;
    height: 313px;
}

.chat textarea {
    width: 80%;
    height: 35px;
    padding: 4px;
    resize: none;
    border: solid 1px;
}

.chat .button-wrapper {
    float: right;
    height: 34px;
    width: 20%;
    text-align: center;
}

.chat .send {
    border: 0 solid;
    font-weight: normal;
    color: #000000;
    height: 96%;
    margin-top: 1px;
    width: 100%;
}

.chat-window {
    display: flex;
}

.chat-messages {
    background: white;
    flex: 3 200px;
    height: 240px;
    overflow-y: auto;
}

.chat-message {
    height: 35px;
    margin: 10px 0;
    padding: 0 5px;
    animation: fadeIn 1s;
}

.chat-message > span {
    clear: both;
    float: left;
}

.chat-message-author {
    color: grey;
    font-size: 12px;
}

.chat-message-content {
    margin-left: 10px;
}

.chat-users {
    background: linear-gradient(135deg, rgba(38,38,38,1) 0%,rgba(38,38,38,1) 10%,rgba(38,38,38,1) 13%,rgba(38,38,38,1) 15%,rgba(38,38,38,1) 27%,rgba(45,45,45,1) 53%,rgba(45,45,45,1) 67%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%);
    flex: 1 100px;
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-users .user {
    margin: 0 0 0 2px;
    padding: 4px;
    display: block;
    width : 100%;
    text-align: left;
    animation: fadeIn 1s;
}