<h2 class="module-title">Chatbox</h2>
<div class="chat-window">
    <div class="chat-messages">
    {{#each messages}}
        {{this}}
    {{/each}}
    </div>
    <div class="chat-users"></div>
</div>
<form>
    <textarea name="text" rows="2" cols="60"></textarea>
</form>