<h2 class="module-title">Chatbox</h2>
<div class="chat-window">
    <div class="chat-user">
        <form>
            <label for="username-input">Hello, what's your name ?</label><br/>
            <input type="text" id="username-input" name="username" />
        </form>
    </div>
</div>