<h2 class="module-title">Chatbox{{#if title}} : {{title}}{{/if}}</h2>
<div class="chat-window">
    <div class="chat-messages">
    {{#each messages}}
        {{this}}
    {{/each}}
    </div>
    <div class="chat-users"></div>
</div>
<form class="chat-input">
    <textarea name="text" rows="2" cols="2" placeholder="Type a message here..."></textarea>
    <div class="button-wrapper">
        <input class="send" type="button" value="Send">
    </div>
</form>