@import url('http://fonts.googleapis.com/css?family=Lato');

/* Mysql module CSS */
.mysql {
	font-size: 15px;
	font-family: Lato;
    background: none repeat scroll 0 0 #E48E00;
    flex: 2 1 500px;
    max-width: 700px;
    height: 100%;
}

/* Table */
.mysql table {
	overflow: hidden;
	border-radius: 10px;
	background: #fefefe;
	width: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


.mysql table th,.mysql table td {
	padding: 10px 3px;
	text-align: center;
}

.mysql table th {
	padding-top: 22px;
}

.mysql table td {
	border-top: 1px solid #e0e0e0;
}






