<h2 class="module-title">Mysql messages</h2>
<div class="messages">
{{#each messages}}
    <ul class="module-item">
        <li class="module-item-detail">{{this.serveur}}</li>
    </ul>
{{/each}}
</div>